---
import ReactIcon from "../components/icons/React.astro";
import JavaScriptIcon from "../components/icons/JavaScript.astro";
import FirebaseIcon from "../components/icons/Firebase.astro";
import HtmlIcon from "../components/icons/Html.astro";
import CssIcon from "../components/icons/Css.astro";
import SassIcon from "../components/icons/Sass.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import { t } from "i18next";
interface Props {
  img: string;
  title: string;
  description: string;
  icons: string[];
  codeUrl?: string;
  previewUrl?: string;
}
const { img, title, description, icons, codeUrl, previewUrl } = Astro.props;
---

<article class="flex flex-col gap-1">
  <Image
    src={import(img)}
    alt={`${title} ${t("projects.img")}`}
    class="h-[150px] rounded-lg object-cover"
    width="315"
    height="150"
  />
  <div>
    <h3 class="text-xl font-bold text-[#ffc300]/90 mb-1">{title}</h3>
    <p class="text-base font-normal opacity-80 max-w-[500px] text-pretty mb-2">
      {description}
    </p>

    <ol class="flex gap-3 flex-wrap mb-4">
      {
        icons.map((icon) => (
          <li>
            {icon === "React" ? (
              <ReactIcon class="size-5" />
            ) : icon === "JavaScript" ? (
              <JavaScriptIcon class="size-5" />
            ) : icon === "Firebase" ? (
              <FirebaseIcon class="size-5" />
            ) : icon === "HTML" ? (
              <HtmlIcon class="size-5" />
            ) : icon === "CSS" ? (
              <CssIcon class="size-5" />
            ) : icon === "Sass" ? (
              <SassIcon class="size-5" />
            ) : (
              ""
            )}
          </li>
        ))
      }
    </ol>

    <div class="flex gap-x-2">
      {
        codeUrl && (
          <Button href={codeUrl} variant="secondary">
            {t("projects.goToCode")}
          </Button>
        )
      }
      {
        previewUrl && (
          <Button href={previewUrl}>{t("projects.goToSite")}</Button>
        )
      }
    </div>
  </div>
</article>
