---
import ReactIcon from "../components/icons/React.astro";
import JavaIcon from "../components/icons/Java.astro";
import JavaScriptIcon from "../components/icons/JavaScript.astro";
import Button from "../components/Button.astro";
interface Props {
  img: string;
  title: string;
  description: string;
  icons: string[];
  codeUrl?: string;
  previewUrl?: string;
}
const { img, title, description, icons, codeUrl, previewUrl } = Astro.props;
---

<article class="flex flex-col gap-1">
  <img src={img} alt={title} class="max-h-[200px] rounded-lg object-fill" />
  <div>
    <h3 class="text-xl font-bold text-[#ffc300]/90 mb-1">{title}</h3>
    <p class="text-base font-normal opacity-80 max-w-[500px] text-pretty mb-2">
      {description}
    </p>

    <ol class="flex gap-3 flex-wrap mb-4">
      {
        icons.map((icon) => (
          <li>
            {icon === "React" ? (
              <ReactIcon class="size-5" />
            ) : icon === "Java" ? (
              <JavaIcon class="size-5" />
            ) : icon === "JavaScript" ? (
              <JavaScriptIcon class="size-5" />
            ) : (
              ""
            )}
          </li>
        ))
      }
    </ol>

    <div class="flex gap-x-2">
      {codeUrl && <Button href={codeUrl} variant="secondary">Ver código</Button>}
      {previewUrl && <Button href={previewUrl}>Ir al sitio</Button>}
    </div>
  </div>
</article>
